                          **WorkFlow for this Assignment**

Credit card data ------> data Preprocessing ---> Data Analysis ----> Train_Test_Split ----->Logistinc_Regression_Model-----> Evaluate the model

Work Flow for Credir Card fraud Analysis

Credit card data ------> data Preprocessing ---> Data Analysis ----> Train_Test_Split ----->Logistinc_Regression_Model-----> Evaluate the model

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np                # importing numpy and pandas library for calculation and reading process
import pandas as pd

In [ ]:
data = pd.read_csv('/creditcard.csv')     # with this command I am reading our credit card csv file

In [ ]:
data.head()          # just checking file is uploaded correctly with top 5 record

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
data.tail()    # it will give up last 5 record of our dataset.

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
39697,39927,-1.466679,2.425732,0.877724,3.950765,0.762477,1.162748,0.575625,-0.288354,-1.357990,...,0.186051,0.571010,-0.107517,-0.754306,-0.752828,0.113179,-2.079421,-0.809173,1.50,0.0
39698,39927,-0.523165,-0.100021,0.892966,-1.900405,-0.156870,-0.783894,0.917683,-0.308345,-1.305284,...,-0.082504,-0.414677,-0.063392,-0.087455,-0.303383,-0.682889,-0.178417,-0.137169,100.92,0.0
39699,39928,-2.768425,-1.007072,2.151127,0.117797,1.283178,1.869731,-0.562240,0.820374,0.348797,...,-0.182963,0.778210,0.904077,-1.288631,0.212441,0.483975,-0.027614,-0.582813,11.99,0.0
39700,39928,1.201327,0.158614,-0.325263,0.471667,0.086446,-0.770357,0.422151,-0.205277,-0.451865,...,0.027664,-0.018485,-0.199382,0.053605,0.683829,0.428416,-0.077342,-0.006394,45.00,0.0
39701,39929,1.097669,-1.315782,0.659681,-0.683915,-1.342612,0.332629,-1.110900,0.194811,-0.248825,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#  dataset information

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39702 entries, 0 to 39701
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    39702 non-null  int64
 1   V1      39702 non-null  float64
 2   V2      39702 non-null  float64
 3   V3      39702 non-null  float64
 4   V4      39702 non-null  float64
 5   V5      39702 non-null  float64
 6   V6      39702 non-null  float64
 7   V7      39702 non-null  float64
 8   V8      39702 non-null  float64
 9   V9      39702 non-null  float64
 10  V10     39702 non-null  float64
 11  V11     39702 non-null  float64
 12  V12     39702 non-null  float64
 13  V13     39701 non-null  float64
 14  V14     39701 non-null  float64
 15  V15     39701 non-null  float64
 16  V16     39701 non-null  float64
 17  V17     39701 non-null  float64
 18  V18     39701 non-null  float64
 19  V19     39701 non-null  float64
 20  V20     39701 non-null  float64
 21  V21     39701 non-null  float64
 22  V22     39701 non-null  float64
 23  V23     39701 non-null  float64
 24  V24     39701 non-null  float64
 25  V25     39701 non-null  float64
 26  V26     39701 non-null  float64
 27  V27     39701 non-null  float64
 28  V28     39701 non-null  float64
 29  Amount  39701 non-null  float64
 30  Class   39701 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 9.4 MB

In [ ]:
data.shape

(39702, 31)

In [ ]:
# checking the number of missing value in each column

data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
# on some column we apply median to handle missing value


data['V17'].fillna(data[ 'V17'].median(),inplace=True)

In [ ]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
data.fillna(1)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39697,39927,-1.466679,2.425732,0.877724,3.950765,0.762477,1.162748,0.575625,-0.288354,-1.357990,...,0.186051,0.571010,-0.107517,-0.754306,-0.752828,0.113179,-2.079421,-0.809173,1.50,0.0
39698,39927,-0.523165,-0.100021,0.892966,-1.900405,-0.156870,-0.783894,0.917683,-0.308345,-1.305284,...,-0.082504,-0.414677,-0.063392,-0.087455,-0.303383,-0.682889,-0.178417,-0.137169,100.92,0.0
39699,39928,-2.768425,-1.007072,2.151127,0.117797,1.283178,1.869731,-0.562240,0.820374,0.348797,...,-0.182963,0.778210,0.904077,-1.288631,0.212441,0.483975,-0.027614,-0.582813,11.99,0.0
39700,39928,1.201327,0.158614,-0.325263,0.471667,0.086446,-0.770357,0.422151,-0.205277,-0.451865,...,0.027664,-0.018485,-0.199382,0.053605,0.683829,0.428416,-0.077342,-0.006394,45.00,0.0
39701,39929,1.097669,-1.315782,0.659681,-0.683915,-1.342612,0.332629,-1.110900,0.194811,-0.248825,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.43,0.0

In [ ]:
# another way to handle missing value

data.fillna({'V15':0, 'V18':0,'V19':0, 'V20':0, 'V21':0, 'V22':0, 'V23':0, 'V24':0, 'V25':0, 'V26':0, 'V27':0, 'V28':0},inplace=True)

In [ ]:
# no missing value in this dataset


data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
# distribution of legit transactions & fraudlent transactions


data['Class'].value_counts()

0.0    39598
1.0      104
Name: Class, dtype: int64

handle unbalanced data

level 0 = normal transactions
level 1 = fraudents transactions

In [ ]:
# storing the good data in anoter var and fraud data in another var

legal = data[data.Class==0]
fraud = data[data.Class==1]

In [ ]:
legal.shape

(39598, 31)

In [ ]:
fraud.shape

(104, 31)

In [ ]:
legal.Amount.describe()

count    39598.000000
mean        87.419084
std        234.511642
min          0.000000
25%          7.420000
50%         23.500000
75%         79.000000
max       7879.420000
Name: Amount, dtype: float64

Above command is showing all the statistical data of the transaction

In [ ]:
fraud.Amount.describe()

count     104.000000
mean       97.070769
std       255.012160
min         0.000000
25%         1.000000
50%         3.775000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
# camparing the value for legal and fraud transaction

data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,25515.089702,-0.194278,0.036933,0.744160,0.174523,-0.217442,0.107157,-0.093208,0.031787,0.222422,...,0.046046,-0.031386,-0.111704,-0.039469,0.007851,0.135891,0.022778,0.005987,0.003920,87.419084
1.0,20683.201923,-7.697309,5.766703,-10.853666,5.865850,-5.424996,-2.275717,-7.641867,3.827809,-2.924282,...,0.663205,0.626795,-0.345972,-0.342944,-0.230514,0.299242,0.176522,0.811431,0.099914,97.070769

Under Sampling

maintaing the dataset for legal and fraud trabsactions

In [ ]:
legal_data = legal.Amount.describe()

In [ ]:
legal_data = legal.sample(n=104)

Concatenating two DataFrames

In [ ]:
ne_legal = pd.concat([legal_data, fraud], axis= 0)

In [ ]:
ne_legal.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
24952,33457,0.437089,-1.560592,0.754386,0.470424,-1.122376,1.017715,-0.502889,0.430916,0.910790,...,0.068623,-0.288173,-0.155823,-0.214785,-0.177570,0.919251,-0.067965,0.054464,338.34,0.0
8450,11338,1.113510,0.154811,0.793627,1.529081,-0.218297,0.368865,-0.362917,0.146629,1.588337,...,-0.136699,0.095775,-0.086886,-0.017849,0.603528,-0.296803,0.022304,0.000961,4.99,0.0
9403,13791,-0.911293,1.329801,1.300299,0.474013,0.399772,0.288212,0.367209,0.525063,-0.272192,...,-0.003602,-0.020136,0.032255,-0.327777,-0.512016,0.604333,-0.112337,0.056015,30.70,0.0
34742,37804,1.089271,-0.086757,1.154836,1.093043,-0.510680,0.801027,-0.696808,0.355623,0.538329,...,0.004217,0.253441,-0.037176,-0.277396,0.380736,-0.379190,0.089438,0.023121,9.99,0.0
19423,30271,1.038497,0.266762,0.986624,2.656721,-0.470393,-0.007650,-0.117620,0.145990,-0.484802,...,-0.198596,-0.593928,0.064642,0.492879,0.312182,-0.192281,-0.005530,0.021671,35.56,0.0

In [ ]:
ne_legal.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
30473,35942,-4.194074,4.382897,-5.118363,4.455230,-4.812621,-1.224645,-7.281328,3.332250,-3.679659,...,1.550473,0.614573,0.028521,0.013704,-0.149512,-0.131687,0.473934,0.473757,14.46,1.0
30496,35953,-4.844372,5.649439,-6.730396,5.252842,-4.409566,-1.740767,-6.311699,3.449167,-5.416284,...,1.194888,-0.845753,0.190674,-0.216443,-0.325033,-0.270328,0.210214,0.391855,111.70,1.0
31002,36170,-5.685013,5.776516,-7.064977,5.902715,-4.715564,-1.755633,-6.958679,3.877795,-5.541529,...,1.128641,-0.962960,-0.110045,-0.177733,-0.089175,-0.049447,0.303445,0.219380,111.70,1.0
33276,37167,-7.923891,-5.198360,-3.000024,4.420666,2.272194,-3.394483,-5.283435,0.131619,0.658176,...,-0.734308,-0.599926,-4.908301,0.410170,-1.167660,0.520508,1.937421,-1.552593,12.31,1.0
39183,39729,-0.964567,-1.643541,-0.187727,1.158253,-2.458336,0.852222,2.785163,-0.303609,0.940006,...,0.447180,0.536204,1.634061,0.203839,0.218749,-0.221886,-0.308555,-0.164500,776.83,1.0

In [ ]:
ne_legal['Class'].value_counts()

0.0    104
1.0    104
Name: Class, dtype: int64

In [ ]:
ne_legal.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,26827.096154,0.009898,0.045803,0.719863,0.163671,-0.074473,0.327735,-0.005434,0.065817,0.292575,...,0.041352,-0.081579,-0.120433,-0.101453,0.082457,0.140378,0.083479,0.002198,-0.020797,83.881154
1.0,20683.201923,-7.697309,5.766703,-10.853666,5.865850,-5.424996,-2.275717,-7.641867,3.827809,-2.924282,...,0.663205,0.626795,-0.345972,-0.342944,-0.230514,0.299242,0.176522,0.811431,0.099914,97.070769

Spilliting the data into features and target

In [ ]:
X = ne_legal.drop(columns='Class', axis = 1)
Y = ne_legal['Class']

In [ ]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
24952  33457  0.437089 -1.560592  0.754386  0.470424 -1.122376  1.017715
8450   11338  1.113510  0.154811  0.793627  1.529081 -0.218297  0.368865
9403   13791 -0.911293  1.329801  1.300299  0.474013  0.399772  0.288212
34742  37804  1.089271 -0.086757  1.154836  1.093043 -0.510680  0.801027
19423  30271  1.038497  0.266762  0.986624  2.656721 -0.470393 -0.007650
...      ...       ...       ...       ...       ...       ...       ...
30473  35942 -4.194074  4.382897 -5.118363  4.455230 -4.812621 -1.224645
30496  35953 -4.844372  5.649439 -6.730396  5.252842 -4.409566 -1.740767
31002  36170 -5.685013  5.776516 -7.064977  5.902715 -4.715564 -1.755633
33276  37167 -7.923891 -5.198360 -3.000024  4.420666  2.272194 -3.394483
39183  39729 -0.964567 -1.643541 -0.187727  1.158253 -2.458336  0.852222

             V7        V8        V9  ...       V20       V21       V22  \
24952 -0.502889  0.430916  0.910790  ...  0.501704  0.068623 -0.288173
8450  -0.362917  0.146629  1.588337  ... -0.248372 -0.136699  0.095775
9403   0.367209  0.525063 -0.272192  ... -0.246152 -0.003602 -0.020136
34742 -0.696808  0.355623  0.538329  ... -0.095253  0.004217  0.253441
19423 -0.117620  0.145990 -0.484802  ... -0.141756 -0.198596 -0.593928
...         ...       ...       ...  ...       ...       ...       ...
30473 -7.281328  3.332250 -3.679659  ...  0.579098  1.550473  0.614573
30496 -6.311699  3.449167 -5.416284  ...  0.284555  1.194888 -0.845753
31002 -6.958679  3.877795 -5.541529  ...  0.299489  1.128641 -0.962960
33276 -5.283435  0.131619  0.658176  ... -2.169811 -0.734308 -0.599926
39183  2.785163 -0.303609  0.940006  ...  1.784449  0.447180  0.536204

            V23       V24       V25       V26       V27       V28  Amount
24952 -0.155823 -0.214785 -0.177570  0.919251 -0.067965  0.054464  338.34
8450  -0.086886 -0.017849  0.603528 -0.296803  0.022304  0.000961    4.99
9403   0.032255 -0.327777 -0.512016  0.604333 -0.112337  0.056015   30.70
34742 -0.037176 -0.277396  0.380736 -0.379190  0.089438  0.023121    9.99
19423  0.064642  0.492879  0.312182 -0.192281 -0.005530  0.021671   35.56
...         ...       ...       ...       ...       ...       ...     ...
30473  0.028521  0.013704 -0.149512 -0.131687  0.473934  0.473757   14.46
30496  0.190674 -0.216443 -0.325033 -0.270328  0.210214  0.391855  111.70
31002 -0.110045 -0.177733 -0.089175 -0.049447  0.303445  0.219380  111.70
33276 -4.908301  0.410170 -1.167660  0.520508  1.937421 -1.552593   12.31
39183  1.634061  0.203839  0.218749 -0.221886 -0.308555 -0.164500  776.83

[208 rows x 30 columns]

In [ ]:
print(Y)

24952    0.0
8450     0.0
9403     0.0
34742    0.0
19423    0.0
        ...
30473    1.0
30496    1.0
31002    1.0
33276    1.0
39183    1.0
Name: Class, Length: 208, dtype: float64

Split the data into trainig data and testing data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=1)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(208, 30) (166, 30) (42, 30)

Model training

In [ ]:
# LogisticRegression
model = LogisticRegression()

In [ ]:
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression(solver='lbfgs', max_iter=3000)

In [ ]:
# accuracy on training data

X_train_predicion =model.predict(X_train)

In [ ]:
training_data_accuracy = accuracy_score(X_train_predicion, Y_train)

In [ ]:
print("accuracy on traning data - " , training_data_accuracy)

accuracy on traning data -  0.9819277108433735

In [ ]:
# accuracy on test data

X_test_predicion = model.predict(X_test)

In [ ]:
test_data_accuracy = accuracy_score(X_test_predicion, Y_test)

In [ ]:
print('accuracy_od_testing :' , test_data_accuracy)

accuracy_od_testing : 0.9761904761904762